html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b2832 !important;
  color: #fff !important;
}

.form-container {
  background-color: #0d3648;
  padding: 1rem;
  border-radius: 8px;
  color: white;
}
.title-effect {
  position: relative;
  z-index: 0;
}

.title-effect::before {
  position: absolute;
  content: "";
  display: block;
  width: 870px;
  height: 680px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient( 50% 50% at 50% 50%, rgba(130, 141, 67, 0.7) 0, rgba(217, 217, 217, 0) 100% );
  z-index: -1;
}
a {
  color: #fff !important;
  text-decoration: none !important;
}

input,
select {
  padding: 0.5rem !important;
  border-radius: 25px !important;
  border: none !important;
}

button[type="submit"],
button[type="button"] {
  border: none;
  border-radius: 25px;
}