html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b2832 !important;
  color: #fff !important;
}

.form-container {
  background-color: #0d3648;
  padding: 1rem;
  border-radius: 8px;
  color: white;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

input,
select {
  padding: 0.5rem !important;
  border-radius: 25px !important;
  border: none !important;
}

button[type="submit"],
button[type="button"] {
  border: none;
  border-radius: 25px;
}