body {
  margin: 0;
  padding: 0;
  background: #0b132b !important;
  font-family: sans-serif;
  color: #fff !important;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.form-container {
  background-color: #1c2a40;
  padding: 1rem;
  border-radius: 8px;
  color: white;
}

input,
select {
  padding: 0.5rem !important;
  border-radius: 25px !important;
  border: none !important;
}

button[type="submit"] {
  background: #0b132b;
}

button[type="submit"],
button[type="button"] {
  border: none;
  border-radius: 25px;
}

.json-viewer {
  min-width: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #1c2a40;
  border-radius: 8px;
}

.json-viewer div pre {
  background-color: #1c2a40 !important;
}